<html>
	<head>
		<title>Wuqiong -- Jobs</title>
		<link href="../src/css/bulma/bulma.min.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
		<link href="../src/css/main.css" rel="stylesheet">
		<link href="../src/css/jobs/jobs.css" rel="stylesheet">
	</head>
	<body>
		<header class='user-nav'>
			<nav class="navbar" role="navigation" aria-label="main navigation">
				<div class="navbar-brand">
					<a class="navbar-item" href="../index.html">
						<img src="../logo.png">Wuqiong
					</a>
					<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="wu-nav" v-on:click.native="toggleMenuMobile()">
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
					</a>
				</div>
				<div id="wu-nav" class="navbar-menu">
					<div class="navbar-start">
						<a class="navbar-item" href="../jobs/index.html">Jobs</a>
							<div class="navbar-item has-dropdown is-hoverable">
								<a class="navbar-link">More</a>
									<div class="navbar-dropdown">
										<a href="../profile/index.html" class="navbar-item">My Profile</a>
										<a href="../settings/index.html" class="navbar-item">Settings</a>
										<a href="../favorites/index.html" class="navbar-item">Favorites</a>
										<hr class="navbar-divider">
										<a class="navbar-item">Report an issue</a>
									</div>
								</a>
							</div>
						</a>
					</div>
				</div>
			</nav>
		</header>
		<section class="section jobs">
			<div class="container">			
				<section class="search">
					<header>
						<h1 class="title" style="">Search Jobs</h1>
						<a v-on:click="toggleOptionsList()">Search Options</a>
					</header>
					<div class="search-form">
						<div class="field">
							<div class="control has-icons-left">
								<input type="text" v-on:keyup.13="performSearch()" v-model='selected_options.job_title' class="input job-title is-medium"> 
								<p class="help">Enter a job title (e.g.: "Web Developer")</p> 
								<span class="icon is-left"><i class="fas fa-search"></i></span>
							</div>
							<div class="field">
								<div class="control">
									<div v-on:click="performSearch()" class="run-search search-button button is-info">Search</div>
								</div>
							</div>
						</div>
						<div class="options-list" v-if="showOptions">
							<!--
							<a href="#" class="close" v-on:click="closeOptionsList()">
								<i class="fas fa-times"></i>
								Close
							</a>
							-->
							<div class="option opt-stack">
								<h4 class="title is-4">Stack Preference</h4>
								<dl>
									<dd v-for="opt_stack in search_options.opt_stack">
										<label class="checkbox">
											<input type="checkbox" v-model="selected_options.opt_stack" v-bind:value="opt_stack">
											{{opt_stack}}
										</label>									
									</dd>
								</dl>
							</div>
							<div class="option opt-pref">
								<h4 class="title is-4">Tech Preferences</h4>
								<div class="include">
									<h6 class="title is-6">Include the following keywords:</h6>
									<div class="field">
										<div class="control">
											<input v-model="search_options.includeKeyword" v-on:keydown.13="addIncludeKeyword()" class="input" type="text">
										</div>
										<p class="help">
											Including keywords: 
											<span v-on:click="removeIncludeKeyword(event)" class="keyword" v-for="keyword in selected_options.prefs.include">
												{{keyword}}
											</span>
										</p>
									</div>
								</div>
								<div class="exclude">
									<h6 class="title is-6">Exclude the following exclude:</h6>
									<div class="field">
										<div class="control">
											<input v-model="search_options.excludeKeyword" v-on:keydown.13="addExcludeKeyword()" class="input" type="text">
										</div>
										<p class="help">
											Excluding keywords: 
											<span v-on:click="removeExcludeKeyword()" class="keyword" v-for="keyword in selected_options.prefs.exclude">{{keyword}}</span>
										</p>
									</div>
								</div>
							</div>
							<div class="option opt-loc">
								<h4 class="title is-4">Location Preferences</h4>
								<div class="field country">
									<div class="control has-icons-left">
										<div class="select">
											<select>
												<option value='0'>Select a country</option>
												<option value="AS">American Samoa</option>
												<option value="AD">Andorra</option>
												<option value="AO">Angola</option>
												<option value="AI">Anguilla</option>
												<option value="AQ">Antarctica</option>
												<option value="AG">Antigua and Barbuda</option>
												<option value="AR">Argentina</option>
												<option value="US">United States</option>
												<option value="UK">United Kingdom</option>
											</select>
											<span class="icon is-left">
												<i class="fas fa-globe"></i>
											</span>
										</div>
									</div>
								</div>
								<div class="field location">
									<div class="control">
										<h6 class="title is-6">Location</h6>
										<input class="input" placeholder="Postal Code, City, etc.">
									</div>
								</div>
								<div class="field">
									<div class="control">
										<label class="checkbox">
											<input type="checkbox">
										</label>
										Remote Possible?
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="results" v-if="results.length > 0">
					<header class='section-header'>
						<h1 class="title">Results</h1>
						<h3 class="subtitle">5 results found</h3>
					</header>
					<div class="job-res" v-for="(i, key) in results">
						<div class="job-head">
							<figure class="comp-thumb image is-128x128">
								<img src="../assets/img/main/testi-user-avatars/2.jpg" alt="compthumb">
							</figure>
							<div class="job-inf">
							  <h3 class="title is-3">Front-End Web Dev II</h3>
							  <h3 class="subtitle">Splashdown LLC</h3>
							  <div class="job-det">
							      <div>
									  <i class="fas fa-dollar-sign"></i>
								      $50k - $60k / year
								  </div>
								  <div>
								      <i class="fas fa-calendar-day"></i>
								      ADD-DATE-HERE
								  </div>
								  <div>
								      <i class="fas fa-clock"></i>
									  Full-Time
								  </div>
								  <div>
								      <i class="fas fa-laptop-code"></i>
									  Remote Possible
								  </div>
								</div>
							</div>
						</div>
						<div class="job-desc">
							Morbi eu libero tortor. Donec facilisis diam eu commodo convallis. Aliquam erat volutpat. Etiam aliquet orci eu turpis ultricies maximus. Nullam nec diam non augue vulputate fermentum. Nulla est tellus, aliquam sed augue in, blandit porttitor libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque cursus turpis nec sagittis faucibus. 
						</div>
					</div>
					<nav class="job-pages pagination" role="navigation" aria-label="pagination">
						<a class="pagination-previous">Previous</a>
						<a class="pagination-next">Next page</a>
						<ul class="pagination-list">
							<li>
								<a class="pagination-link is-current" aria-label="Goto page 1">1</a>
							</li>
							<li>
								<span class="pagination-ellipsis">&hellip;</span>
							</li>
							<li>
								<a class="pagination-link" aria-label="Goto page 45">45</a>
							</li>
							<li>
								<a class="pagination-link" aria-label="Page 46" aria-current="page">46</a>
							</li>
							<li>
								<a class="pagination-link" aria-label="Goto page 47">47</a>
							</li>
							<li>
								<span class="pagination-ellipsis">&hellip;</span>
							</li>
							<li>
								<a class="pagination-link" aria-label="Goto page 86">86</a>
							</li>
						</ul>
					</nav>
				</section>
			</div>
		</section>
		<div class="footer">
			<div class="columns footer-links">
				<div class="column">
					<h4 class="title is-4">Footer Head 1</h4>
					<ul>
						<li>
							<a href="#">About Us</a>
						</li>
						<li>
							<a href="#">Privacy Policy</a>
						</li>
						<li>
							<a href="#">Contact Us</a>
						</li>
					</ul>
				</div>
				<div class="column">
					<h3 class="title is-4">Footer Head 2</h3>
					<ul>
						<li>
							<a href="#">About Us</a>
						</li>
						<li>
							<a href="#">Privacy Policy</a>
						</li>
						<li>
							<a href="#">Contact Us</a>
						</li>
					</ul>
				</div>
				<div class="column">
					<h3 class="title is-4">Footer Head 3</h3>
					<ul>
						<li>
							<a href="#">About Us</a>
						</li>
						<li>
							<a href="#">Privacy Policy</a>
						</li>
						<li>
							<a href="#">Contact Us</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Faker/3.1.0/faker.min.js"></script>
<script src="../src/js/vue/vue.min.js"></script>
<script src="../src/js/jobs/jobs.js"></script>