.benefit > i:not(:nth-child(2)) {
    font-size: 2.5em;
    padding: 0px 4px 4px 4px;
    position: relative;
    top: 4px;
}

.benefits {
    display: flex;
    justify-content: space-around;
    border: 1px solid purple;
    padding: 1em;
}

.benefit {
    border: 1px solid red;
}
html {
	font-family: "Open Sans", sans-serif;
	background-color: #f6f9fa;
}
body {

}
.beni-bobble {
	display: inline-block;
    border: 1px solid #c8c8c8;
    padding: 1.6em 1.2em 1.6em 1.2em;
    border-radius: 2.5em;
}
header.user-nav {
	border-bottom: 1px solid #333;
	position: sticky;
    top: -1px;
    z-index: 5;
}
.divider {
	max-width: 95%;
	display: flex;
	flex-direction: row;
	padding: .35em;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.divider > .left,
.divider > .right {
	width: 100%;
}

.divider > .left > hr,
.divider > .right > hr {
	background-color: #c9c9c9;
	margin: .05em 0 .05em 0;
}
.divider > .center {
	align-self: center;
	margin: 0 1em 0 1em;
}
.copy p {
	font-size: 1.18em;
}
.input, .select select {
	box-shadow: none;
	border-radius: 0;
}
.title, .label {
	font-family: "Lato", sans-serif;
}
.login div:first-child {
	font-size: 1.5em;
	font-family: "Lato", sans-serif;
	padding-bottom: .6em;
}
.columns .column:first-child p {
	padding-right: 3em;
}